@layer base {
    html, body {
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #root {        
        text-align: initial;
        width: 100%;
        height: 100%;
    }   
}
.rootBox {
    box-sizing: border-box;  
    width: 100%;
    height:100%;    
    text-align: initial;  
    display: grid;
    grid-template-areas: "root";
    background-color: transparent;
}
.rootBackground {
    box-sizing: border-box; 
    pointer-events: none;
    overflow: hidden;
    inset-block-start:0;
    inset-inline-start:0;     
    height:100%;
    width: 100%;
    z-index: 0;
    grid-area: root;
}
.rootLayout {
    box-sizing: border-box; 
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: root;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr;   
    z-index: 1;   
    overflow: auto;
    background-color: transparent;    
}
.mainLayout {
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-flow: column;  
    width: 100%;
    height: 100%;
    min-height: 0;
}
