@layer base {
    html, body {
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;        
        height: 100%;
    }
    #root {        
        text-align: initial;
        width: 100%;
        height:100%
    }   
}
*, *:before, *:after {
    box-sizing: border-box;
}
.rootBox {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    min-height: 100%;
}
.rootBackground {
    box-sizing: border-box; 
    pointer-events: none;
    inset-block-start:0;
    inset-inline-start:0;   
    width: 100%;  
    min-width: 100vw;
    height:100%;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}
.rootBackground>div{
    width:100%;
    height: 100%;
    overflow: hidden;
}
.rootLayout {
    position: relative;
    z-index: 1;
    box-sizing: border-box; 
    width: 100%;
    min-height: 100%;
    display: flex; 
    flex-flow: row;
    background-color: transparent;
    container-type: inline-size;
}

.mainLayout {
    box-sizing: border-box;    
    display: flex;
    flex-flow: column;  
    width: 100%;
}
